:host::ng-deep {
    .auth-form-ipts {
        input {
            outline: none;
            padding: 13px 26px;
            margin-bottom: 20px;
            border-radius: 10px;
            border: 1px solid var(--color-secondary);
            transition: .3s;
            width: 90%;

            &:focus {
                scale: 1.02;
                --tw-shadow: 0 10px 15px -3px var(--tw-shadow-color, rgb(0 0 0 / 0.1)), 0 4px 6px -4px var(--tw-shadow-color, rgb(0 0 0 / 0.1));
                box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
            }
        }
    }
}

.logo::before {
    content: '';
    width: 4px;
    height: 40px;
    background-color: var(--color-accent);
}