<header class="sticky top-0 z-50 w-full shadow-lg bg-primary backdrop-blur-md">
  <div class="flex items-center justify-between py-2 px-4 sm:py-6 sm:px-12">

    <!-- Logo -->
    <a routerLink="/" class="group flex items-center gap-3 logo">
      <span class="sm:text-4xl font-extrabold tracking-tight text-dark uppercase">Buy<span class="text-accent">01</span></span>
    </a>

    <!-- Navigation -->
    <nav class="hidden md:flex items-center gap-8">
      <a routerLink="/feed" routerLinkActive="active"
        class="text-md relative duration-500">home</a>
    </nav>

    <!-- Auth Actions -->
    <div class="flex items-center gap-4">
      @if (isAuthenticated()) {
      <div class="group relative flex items-center gap-3 pl-4 border-l border-secondary/60">
        <div class="text-right">
          <p class="text-xs font-semibold text-dark">{{ user()?.name }}</p>
          <button (click)="logout()"
            class="text-[10px] uppercase tracking-wider text-accent hover:text-red-500 cursor-pointer transition-colors">Logout</button>
        </div>
        <div [routerLink]="['/profile', user()?.id]"
          class="cursor-pointer h-10 w-10 overflow-hidden rounded-full border-2 border-secondary shadow-sm transition-transform group-hover:scale-105">
          <img [src]="user()?.avatar || `https://ui-avatars.com/api/?name=${user()?.name}&background=random`"
            [alt]="user()?.name" class="h-full w-full object-cover">
        </div>
      </div>
      } @else {
      <div class="flex items-center gap-6">
        <a routerLink="/auth/login" class="text-sm font-medium text-accent hover:text-dark transition-colors">Login</a>
        <a routerLink="/auth/register"
          class="rounded-sm bg-dark px-8 py-2.5 text-sm font-medium text-primary hover:bg-accent transition-all active:scale-95">Register</a>
      </div>
      }
    </div>

  </div>
</header>