<div class="fixed bottom-6 left-6 z-120 animate-[popup_0.25s_ease-out]">

    <div
        class="relative flex w-95 items-start gap-4 overflow-hidden rounded-2xl border border-secondary/40 bg-primary p-5 shadow-[0_10px_35px_rgba(0,0,0,0.25)]">

        <div class="absolute left-0 top-0 h-full w-1.5 bg-linear-to-b from-red-500 via-accent to-dark"></div>

        <div class="flex h-12 w-12 min-w-12 items-center justify-center rounded-xl bg-red-100">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-red-500" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">

                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
        </div>

        <div class="flex-1">

            <div class="flex items-start justify-between gap-4">

                <div>
                    <h2 class="text-sm font-semibold text-dark">
                        Error
                    </h2>

                    <p class="mt-1 text-sm leading-relaxed text-accent">
                        {{ message() }}
                    </p>
                </div>

            </div>
        </div>
    </div>
</div>