<div class="container mx-auto py-2 justify-center ">
  <!-- <p class="text-center text-2xl">Product List:</p> -->
  <!-- Search -->
  <div class="searchtext flex gap-5 items-center flex-col my-10">
    <input [formControl]="searchIpt" (input)="handleSearch()" type="search" placeholder="Search for products..."
      class="border border-secondary py-3 px-6 rounded-lg w-100 outline-none">
    <div class="flex gap-5">
      <label for="sort-by">Sort by: </label>
      <select [formControl]="sortBy" (change)="handleChange()" class="cursor-pointer outline-none border border-secondary" id="sort-by">
        <option>id</option>
        <option>name</option>
        <option>description</option>
        <option>price</option>
        <option>quantity</option>
      </select>
    </div>
  </div>
  <app-product-list />
  <app-paginator />
</div>