<form class="text-center auth-form-ipts" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <p class="text-xs -mt-8.5 mb-10 text-accent">Please login to your account</p>
    <div>
        <input formControlName="name" placeholder="Name" type="text">
        @if (name.invalid || registerForm.invalid) {
        <span class="block text-red-500 -mt-3 mb-3">
            @if (name.hasError('required')) {
            {{ name.getError("required") }}
            } @else if (registerForm.hasError("name")) {
            {{ registerForm.getError("name") }}
            }
        </span>
        }
        <input formControlName="email" placeholder="Email address" type="email">
        @if (email.invalid || registerForm.invalid) {
        <span class="block text-red-500 -mt-3 mb-3">
            @if (email.hasError('required')) {
            {{ email.getError("required") }}
            } @else if (registerForm.hasError("email")) {
            {{ registerForm.getError("email") }}
            }
        </span>
        }
        <input formControlName="password" placeholder="Password" type="password">
        @if (password.invalid || registerForm.invalid) {
        <span class="block text-red-500 -mt-3 mb-3">
            @if (password.hasError('required')) {
            {{ password.getError("required") }}
            } @else if (registerForm.hasError("password")) {
            {{ registerForm.getError("password") }}
            }
        </span>
        }
        <div class="role w-[90%] mx-auto mb-6">
            <p class="text-sm text-accent mb-4 font-medium">
                Choose your role
            </p>

            <div class="grid grid-cols-2 gap-4">

                <label class="group relative cursor-pointer">
                    <input type="radio" formControlName="role" value="CLIENT" class="peer hidden">

                    <div class="bg-primary border-2 border-secondary rounded-2xl p-5 transition-all duration-200
                        hover:-translate-y-1
                        peer-checked:border-dark peer-checked:shadow-xl">

                        <div class="flex flex-col items-center text-center">
                            <div class="w-12 h-12 rounded-full bg-secondary flex items-center justify-center mb-3
                                peer-checked:bg-accent transition-all duration-200">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M15.75 6a3.75 3.75 0 1 1-7.5 0 3.75 3.75 0 0 1 7.5 0ZM4.501 20.118a7.5 7.5 0 0 1 14.998 0A17.933 17.933 0 0 1 12 21.75c-2.676 0-5.216-.584-7.499-1.632Z" />
                                </svg>

                            </div>

                            <h3 class="font-semibold text-dark peer-checked:text-primary">
                                Client
                            </h3>

                            <p class="text-xs text-accent mt-1 peer-checked:text-secondary">
                                Buy and explore products
                            </p>
                        </div>
                    </div>
                </label>

                <label class="group relative cursor-pointer">
                    <input type="radio" formControlName="role" value="SELLER" class="peer hidden">

                    <div class="bg-primary border-2 border-secondary rounded-2xl p-5 transition-all duration-200
                         hover:-translate-y-1
                        peer-checked:border-dark peer-checked:shadow-xl">

                        <div class="flex flex-col items-center text-center">
                            <div class="w-12 h-12 rounded-full bg-secondary flex items-center justify-center mb-3
                                peer-checked:bg-accent transition-all duration-200">


                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                    stroke-width="1.5" stroke="currentColor" class="size-6">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3 3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5 14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Z" />
                                </svg>
                            </div>

                            <h3 class="font-semibold text-dark peer-checked:text-primary">
                                Seller
                            </h3>

                            <p class="text-xs text-accent mt-1 peer-checked:text-secondary">
                                Sell and manage products
                            </p>
                        </div>
                    </div>
                </label>

            </div>
            @if (role.invalid || registerForm.invalid) {
            <span class="block text-red-500 mt-2 mb-3">
                @if (role.hasError('required')) {
                {{ role.getError("required") }}
                } @else if (registerForm.hasError("role")) {
                {{ registerForm.getError("role") }}
                }
            </span>
            }
        </div>
    </div>
    <button
        class="bg-dark mb-5 text-primary w-[90%] p-4 text-sm rounded-lg hover:bg-accent cursor-pointer duration-150">Register</button>
    <p routerLink="/auth/login"><span>Already have an account?</span> <a
            class="text-accent underline ml-1 cursor-pointer">Sign-in</a></p>
</form>